.features {
  h2 {
    font-weight: 300;
  }

  p {
    font-size: 1.7rem;
    font-weight: 300;
    color: $gray-alt;
    word-spacing: 0.15rem;

    a {
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img {
    padding: 5px;
    border-radius: 50%;
    @include transition(all, 0.1s, ease);

    &:hover {
      background: $dark;
      @include transition(all, 0.1s, ease);
    }
  }
}