@media only screen and (min-width : 993px) {
  .mac-wrapper {
    padding-left: 70px !important;
  }
}

@media only screen and (max-width : 992px) {
  .intro {
    padding: 80px 0 !important;
  }
  .mac-wrapper {
    height: 400px !important;
    background-size: 100% auto !important;
  }
}

@media only screen and (max-width : 768px) {
  .intro {
    h1 {
      font-size: 3rem;
    }
  }
  .mac-wrapper {
    padding: 70px;

    h3 {
      font-size: 1.8rem;
    }
    span {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width : 480px) {
  .intro {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.50rem;
    }
  }
  .mac-wrapper {
    height: 220px !important;
    background-size: 100% auto !important;
    padding: 10px;

    br {
      display: none;
    }

    h3 {
      font-size: 1.5rem;
    }
    span {
      font-size: 1.2rem;
    }
  }
}

